{% extends 'base.html' %}
{% block content %}
<section class="reset-card-container">
    <div class="reset-card ">

        <div class="reset-icon">
            <i class="fa-solid fa-lock"></i>
        </div>

        <h2 class="reset-title">Forgot Password?</h2>

        <p class="reset-text">
            Enter your registered email address below and we’ll send you a link to reset your password.
        </p>

        <form method="POST">
                {{ message.tags }}
            {% if messages %}

            {% for message in messages %}

            <div class="alert alert-danger">
                {{ message }}
            </div>

            {% endfor %}

            {% endif %}
            <!-- Django CSRF -->
            {% csrf_token %}

            <div class="mb-3">
                <input type="email" class="form-control" name="email" placeholder="Enter your email" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Enter your new password"
                    required>
            </div>

            <button type="submit" class="reset-btn">
                Reset Password
            </button>

        </form>

        <div class="back-login">
            <a href="{% url 'login' %}">
                <i class="fa-solid fa-arrow-left"></i>
                Back to Login
            </a>
        </div>

    </div>
</section>
{% endblock %}